[submodule "lib/stego"]
	path = lib/stego
	url = https://github.com/iccet/stego-lib.git
[submodule "lib/kafka"]
	path = lib/kafka
	url = https://github.com/morganstanley/modern-cpp-kafka.git
[submodule "lib/rdkafka"]
	path = lib/rdkafka
	url = https://github.com/edenhill/librdkafka.git
[submodule "lib/elasticlient"]
	path = lib/elasticlient
	url = https://github.com/seznam/elasticlient.git
[submodule "lib/httpstatuscodes"]
	path = lib/httpstatuscodes
	url = https://github.com/j-ulrich/http-status-codes-cpp.git
